name: Create torrent
on:
  push:
    branches:
      - master
      
env:
  name: "Android Studio and SDK Tools"
  comment: "Android Studio for Windows"
  url: "https://download2446.mediafire.com/f1otkemenuxgOVyq406MogWPUJU58JoG8cfJvjhhK6qUI9vqmiiFaRVFmbvkJMp3k6EyDWqIVmqXr7CTZyi9KHgNWDvU07ntZ8YwTXlTQueEObMfTG0D306ThPey09FLWmVUWgShjykdheJKS2KmiToLNbx1XZ4KYDXGa-dIrtwI/8t9wn2flf2imsj8/Google+TV+13+%2B+Data.zip"
  file_name: "Google TV 13 + Data"
  piece_size: 21 # Check the README.md for recommended piece size
      
jobs:
  create:
    runs-on: ubuntu-20.04
    steps:
      - name: Install mktorrent
        run: sudo apt-get install mktorrent
        
      - name: Download file
        run: wget -nv -O "$file_name" "$url"
        
      - name: Create torrent using mktorrent
        run: mktorrent -c "$comment" -l $piece_size -o "${name}.torrent" -w "$url" "$file_name"
        
      - name: Upload torrent file
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.name }}
          path: ${{ env.name }}.torrent
